In [17]:
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
import numpy as np
import pandas as pd
from glob import glob
import pingouin as pg
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

filenames = glob('../models/outputs/CDR_*.csv')
dataframes = [pd.read_csv(f) for f in filenames]

df = pd.concat(dataframes)


df.loc[df['set'].str.contains('Imp'), '2v3'] = 2
df.loc[~df['set'].str.contains('Imp'), '2v3'] = 3


# df.to_csv('../models/allmodels_output.csv', index=False)

In [2]:
df.groupby('2v3')['Sensitivity','Specificity','PPV','NPV','Accuracy','F1_Score'].mean()

     Sensitivity  Specificity       PPV       NPV  Accuracy  F1_Score
2v3
2.0     0.943829     0.844214  0.886254  0.922334  0.900120  0.899455
3.0     0.919730     0.862484  0.894474  0.895681  0.894417  0.894148

In [18]:
df.groupby('2v3')['Sensitivity','Specificity','PPV','NPV'].var()

     Sensitivity  Specificity       PPV       NPV
2v3
2.0     0.000386     0.001109  0.000450  0.000622
3.0     0.000498     0.000809  0.000373  0.000662

# Healthy Sensitivity

### Levene's test:

In [4]:
aov_levene = pg.homoscedasticity(data=df, dv='Specificity', group='2v3', method='levene', alpha=0.05)
display(aov_levene)

                W          pval  equal_var
levene  50.565483  1.296843e-12      False

In [16]:
print('\n Healthy Sensitivity: \n')
display(df.groupby('2v3')['Specificity'].describe())
aov_sens = pg.anova(data=df, dv='Specificity', between='2v3')
display(aov_sens)
phoc_sens = pg.pairwise_tukey(data=df, dv='Specificity', between='2v3')
display(phoc_sens)

 Healthy Sensitivity:

,count,mean,std,min,25%,50%,75%,max
2v3,,,,,,,,
2.0,2800.0,0.844214,0.033294,0.759690,0.821705,0.844961,0.868217,0.914729
3.0,2800.0,0.862484,0.028435,0.784615,0.838462,0.869231,0.884615,0.930769

  Source  ddof1  ddof2           F          p-unc       np2
0    2v3      1   5598  487.524838  1.172269e-103  0.080112

,A,B,mean(A),mean(B),diff,se,tail,T,p-tukey,hedges
0,2.0,3.0,0.844214,0.862484,-0.01827,0.000827,two-sided,-22.079965,0.001,-0.590033

# Impaired Sensitivity

### Levene's test:

In [6]:
aov_levene = pg.homoscedasticity(data=df, dv='Sensitivity', group='2v3', method='levene', alpha=0.05)
display(aov_levene)

                W          pval  equal_var
levene  45.544451  1.642731e-11      False

In [7]:
display(df.groupby('2v3')['Sensitivity'].describe())
aov_sens = pg.anova(data=df, dv='Sensitivity', between='2v3')
display(aov_sens)
phoc_sens = pg.pairwise_tukey(data=df, dv='Sensitivity', between='2v3')
display(phoc_sens)

,count,mean,std,min,25%,50%,75%,max
2v3,,,,,,,,
2.0,2800.0,0.943829,0.019656,0.878788,0.927273,0.945455,0.957576,0.987879
3.0,2800.0,0.919730,0.022311,0.853659,0.902439,0.920732,0.939024,0.969512

  Source  ddof1  ddof2            F  p-unc       np2
0    2v3      1   5598  1839.218703    0.0  0.247299

,A,B,mean(A),mean(B),diff,se,tail,T,p-tukey,hedges
0,2.0,3.0,0.943829,0.91973,0.024099,0.000562,two-sided,42.886113,0.001,1.146026

# PPV

### Levene's test:

In [8]:
aov_levene = pg.homoscedasticity(data=df, dv='PPV', group='2v3', method='levene', alpha=0.05)
display(aov_levene)

                W      pval  equal_var
levene  17.636685  0.000027      False

In [9]:
print('\n PPV: \n')
display(df.groupby('2v3')['PPV'].describe())
aov_auc = pg.anova(data=df, dv='PPV', between='2v3')
display(aov_auc)
phoc_auc = pg.pairwise_tukey(data=df, dv='PPV', between='2v3')
display(phoc_auc)

 PPV:

,count,mean,std,min,25%,50%,75%,max
2v3,,,,,,,,
2.0,2800.0,0.886254,0.021212,0.830601,0.869758,0.886364,0.901734,0.935294
3.0,2800.0,0.894474,0.019324,0.842697,0.880240,0.895954,0.910180,0.943750

  Source  ddof1  ddof2           F         p-unc       np2
0    2v3      1   5598  229.810608  6.644710e-51  0.039433

,A,B,mean(A),mean(B),diff,se,tail,T,p-tukey,hedges
0,2.0,3.0,0.886254,0.894474,-0.008221,0.000542,two-sided,-15.159506,0.001,-0.405101

# NPV

### Levene's test:

In [10]:
aov_levene = pg.homoscedasticity(data=df, dv='NPV', group='2v3', method='levene', alpha=0.05)
display(aov_levene)

              W      pval  equal_var
levene  6.45327  0.011102      False

In [11]:
print('\n NPV: \n')
display(df.groupby('2v3')['NPV'].describe())
aov_auc = pg.anova(data=df, dv='NPV', between='2v3')
display(aov_auc)
phoc_auc = pg.pairwise_tukey(data=df, dv='NPV', between='2v3')
display(phoc_auc)

 NPV:

,count,mean,std,min,25%,50%,75%,max
2v3,,,,,,,,
2.0,2800.0,0.922334,0.024942,0.836066,0.904348,0.923077,0.939655,0.981132
3.0,2800.0,0.895681,0.025725,0.827338,0.877863,0.893130,0.915966,0.958333

  Source  ddof1  ddof2            F          p-unc       np2
0    2v3      1   5598  1549.287447  2.303268e-299  0.216766

,A,B,mean(A),mean(B),diff,se,tail,T,p-tukey,hedges
0,2.0,3.0,0.922334,0.895681,0.026653,0.000677,two-sided,39.360989,0.001,1.051826

# Accuracy

### Levene's test:

In [12]:
aov_levene = pg.homoscedasticity(data=df, dv='Accuracy', group='2v3', method='levene', alpha=0.05)
display(aov_levene)

               W      pval  equal_var
levene  0.189323  0.663498       True

In [13]:
print('\n Accuracy: \n')
display(df.groupby('2v3')['Accuracy'].describe())
aov_auc = pg.anova(data=df, dv='Accuracy', between='2v3')
display(aov_auc)
phoc_auc = pg.pairwise_tukey(data=df, dv='Accuracy', between='2v3')
display(phoc_auc)

 Accuracy:

,count,mean,std,min,25%,50%,75%,max
2v3,,,,,,,,
2.0,2800.0,0.900120,0.016531,0.840136,0.887755,0.897959,0.911565,0.942177
3.0,2800.0,0.894417,0.016363,0.853741,0.884354,0.894558,0.908163,0.935374

  Source  ddof1  ddof2           F         p-unc       np2
0    2v3      1   5598  168.346196  5.966051e-38  0.029195

,A,B,mean(A),mean(B),diff,se,tail,T,p-tukey,hedges
0,2.0,3.0,0.90012,0.894417,0.005703,0.00044,two-sided,12.974829,0.001,0.34672

# F1

### Levene's test:

In [14]:
aov_levene = pg.homoscedasticity(data=df, dv='F1_Score', group='2v3', method='levene', alpha=0.05)
display(aov_levene)

               W      pval  equal_var
levene  0.006874  0.933928       True

In [15]:
print('\n F1_Score: \n')
display(df.groupby('2v3')['F1_Score'].describe())
aov_auc = pg.anova(data=df, dv='F1_Score', between='2v3')
display(aov_auc)
phoc_auc = pg.pairwise_tukey(data=df, dv='F1_Score', between='2v3')
display(phoc_auc)

 F1_Score:

,count,mean,std,min,25%,50%,75%,max
2v3,,,,,,,,
2.0,2800.0,0.899455,0.016758,0.839567,0.887356,0.897655,0.911082,0.942037
3.0,2800.0,0.894148,0.016429,0.852884,0.883430,0.894075,0.907852,0.935155

  Source  ddof1  ddof2           F         p-unc      np2
0    2v3      1   5598  143.185654  1.333804e-32  0.02494

,A,B,mean(A),mean(B),diff,se,tail,T,p-tukey,hedges
0,2.0,3.0,0.899455,0.894148,0.005307,0.000444,two-sided,11.966021,0.001,0.319763